# Serve your app
proxy.caddy.orb.local {
	forward_auth / auth.caddy.orb.local {
		uri /validate
		copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
		
		@error status 401
		handle_response @error {
			redir * https://auth.caddy.orb.local/login?rd={scheme}://{host}{uri} 302
		}
	}

	reverse_proxy target:3000
}